
body{
    background-image: linear-gradient(to left, #123A6E 0%, #1D6BB4 100%);
}

    .profile img
    {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }

    h1
    {
        font-size: x-large;
        text-align: center;

    }

    h2
    {
        font-size: large;
        text-align: center;
    }

    h3
    {
        font-size: medium;
        text-align: center;
    }
    
    .tittle
    {
        display: flex;
        flex-direction: column;
    
        align-items: center;
        justify-items: center;
    
        margin: 0px;
        padding: 0px;
    
        font-family: Consolas, monospace, Arial;
        color:#061227;
    }

    .grad
    {
        display: flex;
        flex-direction: column;
    
        align-items: center;
        justify-items: center;
    
        margin: 0px;
        padding: 0px;
    
        font-family: Consolas, monospace, Arial;
        font-size: medium;
        color:#061227;
    }

    .ButtonsT
    {
        display: flex;
        
        justify-items: center;
        justify-content: space-around;
        align-items: center;

        cursor: pointer;
    }

    .GeneralBut
    {

        width: 50%;
        height: 100%;

        margin-top: 50px;

        padding-top:  10px;
        padding-bottom: 10px;

        padding-left: 25px;
        padding-right: 25px;
        
        border-top: 2px solid #061227;
        border-left: 1px solid #061227;
        border-right: 10px solid #061227;
        border-bottom: 10px solid #061227;
        border-radius: 50px;

        cursor: pointer;

        background-color: #89CCEC;

        transition-duration: .5s;
    }

    .GeneralBut:hover
    {
        background-color: #42A1E0;
    }

    .GeneralBut:active
    {
        background-color: #42A1E0;
    }

    .insideT
    {
        padding-right: 25%;
        justify-self: right;
    }

    .ImageP img
    {
        height: 50px;
        width: 50px;
        
    }













@media only screen and (min-width: 600px)
{
    .profile img
    {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    
    h1
    {
        font-size: xx-large;
    } 
    
    h2
    {
        font-size: x-large;
    }

    h3
    {
        font-size: large;
    }

    .GeneralBut
    {

        width: 35%;
        height: 100%;
    }


}
